body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
}

#app {
    max-width: 900px;
    width: 100%;
}
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}
.lesson-feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column; 
    gap:25px;
    justify-items: center;
    align-items: center; 
}

.lesson-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    width: 100%; 
    max-width: 250px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
}
/* Hoover lift */
.lesson-card:hover {
    transform: translateY(-5px); 
}

.lesson-icon {
    font-size: 2.5em; 
    color: #007bff; 
    text-align: center;
    margin-bottom: 15px;
}

.lesson-info {
    margin: 8px 0;
    font-size: 1.1em;
    color: #333;
}

.lesson-info strong {
    color: #555;
}